version: "2.1"
services:
  redis:
    image: ${MS_IMAGE_PREFIX}/redis:6.2.6
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 6s
      timeout: 5s
      retries: 50
    environment:
      TZ: "Asia/Shanghai"
    ports:
      - ${MS_REDIS_PORT}:6379
    volumes:
      - ${MS_BASE}/metersphere/conf/redis.conf:/etc/redis/redis.conf
      - ms-redis-data:/data
    command: redis-server /etc/redis/redis.conf --requirepass ${MS_REDIS_PASSWORD}
    networks:
      - ms-network
    restart: always
  system-setting:
    depends_on:
      redis:
        condition: service_healthy

volumes:
  ms-redis-data:
    driver_opts:
      type: none
      device: ${MS_BASE}/metersphere/data/redis
      o: bind