version: "2.1"
services:
  local-selenium-grid:
    image: ${MS_IMAGE_PREFIX}/seleniarm-grid-all:4.8.0-20230302
    container_name: local-selenium-grid
    shm_size: 4gb
    environment:
      - TZ=Asia/Shanghai
      - SE_EVENT_BUS_HOST=127.0.0.1
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_HUB_PORT=4444
      - SE_NODE_MAX_SESSIONS=6
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
      - browser=chrome
      - JAVA_OPTS=-Xmx512m
    ports:
      - "4444:4444"
#       - "5900:5900" # vnc端口默认不开启，用户需要调试可使用，密码：secret
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4444" ]
      interval: 6s
      timeout: 5s
      retries: 50
    restart: always
    networks:
      - ms-network
